{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f2f2f2;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    animation: form-animation 1s ease-out;
  }
  @keyframes form-animation {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  h1 {
    font-size: 24px;
    margin: 0 0 20px;
    color: #333;
  }
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #555;
  }
</style>
</head>
<body style="background-image: url(https://as1.ftcdn.net/v2/jpg/02/11/27/06/1000_F_211270603_erwOdvWiNHGRmKRcHyQSiDfkgUWlONjs.jpg);background-repeat: no-repeat;background-size: cover;">
<br>
  <form class="mt-5">
  <h1 class="mt-5">Login to your account</h1>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <a href="{% url 'home' %}" class="btn btn-primary" style="background-color: black;color:rgb(15, 212, 163) ;">Login</a>
  <p>Don't have an account ? <a href="{% url 'sig' %}">Signin</a></p>
</form>

{% endblock %}