{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f2f2f2;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    animation: form-animation 1s ease-out;
  }
  @keyframes form-animation {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  h1 {
    font-size: 24px;
    margin: 0 0 20px;
    color: #333;
  }
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #555;
  }
</style>
</head>
<body style="background-image: url(https://media.istockphoto.com/id/1340117122/photo/cube-with-shopping-trolley-symbol-on-the-laptop-keyboard.jpg?b=1&s=170667a&w=0&k=20&c=PU8iTTvTj6TV6_Quy9Z7KQJoOgY-rp_rqI9FbFNFYEw=);background-repeat: no-repeat;background-size: cover;">
<form>
  <h1>Login to your account</h1>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <button type="submit">Login</button>
  <p>Don't have an account ? <a href="{% url 'sig' %}">Signin</a></p>
</form>

{% endblock %}