{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class=""  >
  <img class="w-100"  src="https://img.freepik.com/free-vector/building-construction-concept_1284-10515.jpg?w=740&t=st=1685965110~exp=1685965710~hmac=41e82225871d83ea0f919c693fbdd4a8f0862f3d7f293086f819cde2448b35b2" alt="">
</section>
<section class="container-fluid project">
    <div class="row">
    <h1 style="border-bottom: .5rem solid aqua;text-align: center;margin: 0 auto;display: inline-block;">Materials  </h1>
    </div>


    <div class="row mt-5">
      <div class="col-md-6 col-lg-3 col-sm-3 mt-2 ">
        <div class="card custom-shadow">
          <img class="" src="https://img.freepik.com/premium-photo/close-up-brown-bricks-stacked_23-2148428293.jpg?w=740" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Bricks</h5>

            <p class="card-text">High quality brick. Quaranty up to 20 years. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div style="display: flex; justify-content: center;">
              <button id="about">
                <a style="border-radius: 1rem; background-color: black; color: rgb(15, 212, 163); padding: 0.5rem 1rem;" href="{% url 'dt' %}">
                  Know More
                </a>
              </button>
            </div>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
        <div class="card custom-shadow">
          <img class="card-img-top" src="https://img.freepik.com/free-photo/worker-builds-cinder-block-wall-new-home_661209-381.jpg?w=740&t=st=1685951082~exp=1685951682~hmac=10f37559656cc7451c5846b424d3989c9c94da35ab86c3cee4caa89a964f6dca" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Hollow Bricks</h5>
            <p class="card-text ">High quality brick. Quaranty up to 20 years. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div style="display: flex; justify-content: center;">
              <button id="about">
                <a style="border-radius: 1rem; background-color: black; color: rgb(15, 212, 163); padding: 0.5rem 1rem;" href="{% url 'dt' %}">
                  Know More
                </a>
              </button>
            </div>  
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
        <div class="card custom-shadow">
          <img class="card-img-top" src="https://img.freepik.com/free-photo/modern-stone-brick-wall-background-stone-texture_158595-6502.jpg?w=740&t=st=1685954766~exp=1685955366~hmac=1e58b333785a8a0f6587a2c518764b5a9e74208367ce98f30dba569bdecd4371" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Stone Crush Metal</h5>
        
            <p class="card-text">High quality brick. Quaranty up to 20 years. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div style="display: flex; justify-content: center;">
              <button id="about">
                <a style="border-radius: 1rem; background-color: black; color: rgb(15, 212, 163); padding: 0.5rem 1rem;" href="{% url 'dt' %}">
                  Know More
                </a>
              </button>
            </div>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
        <div class="card custom-shadow">
          <img class="card-img-top" src="https://img.freepik.com/premium-photo/white-paper-sacks-cement-bag-wooden-floor-3d-rendering_476612-6047.jpg?w=740"  alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Cement</h5>
         
            <p class="card-text">High quality brick. Quaranty up to 20 years. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div style="display: flex; justify-content: center;">
              <button id="about">
                <a style="border-radius: 1rem; background-color: black; color: rgb(15, 212, 163); padding: 0.5rem 1rem;" href="{% url 'dt' %}">
                  Know More
                </a>
              </button>
            </div>
        </div>
        </div>
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
        <div class="card custom-shadow">
          <img class="card-img-top" src="https://img.freepik.com/premium-photo/stack-steel-bar-texture-construction-site-background_34046-100.jpg?w=740" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Steel Bars</h5>
      
            <p class="card-text">High quality brick. Quaranty up to 20 years. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div style="display: flex; justify-content: center;">
              <button id="about">
                <a style="border-radius: 1rem; background-color: black; color: rgb(15, 212, 163); padding: 0.5rem 1rem;" href="{% url 'dt' %}">
                  Know More
                </a>
              </button>
            </div> 
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
        <div class="card custom-shadow">
          <img class="card-img-top" src="https://img.freepik.com/free-photo/hand-holding-paint-brush-with-colored-paint_23-2148591300.jpg?w=740&t=st=1685954391~exp=1685954991~hmac=3c04adf8fe0b99966b5d842f99a448abdc9fbf32276b58a80171936abc807c0e" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Paints</h5>
        
            <p class="card-text">High quality brick. Quaranty up to 20 years. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div style="display: flex; justify-content: center;">
              <button id="about">
                <a style="border-radius: 1rem; background-color: black; color: rgb(15, 212, 163); padding: 0.5rem 1rem;" href="{% url 'dt' %}">
                  Know More
                </a>
              </button>
            </div>  
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
        <div class="card custom-shadow">
          <img class="card-img-top" src="https://img.freepik.com/free-photo/flat-lay-old-frame-sand_23-2149477374.jpg?w=740&t=st=1685954502~exp=1685955102~hmac=13c78888646f86f5f1236f7846908db96b241a8499a0a1308379a8af66dc2992" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">M-Sand</h5>
        
            <p class="card-text">High quality brick. Quaranty up to 20 years. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
         
            <div style="display: flex; justify-content: center;">
              <button id="about">
                <a style="border-radius: 1rem; background-color: black; color: rgb(15, 212, 163); padding: 0.5rem 1rem;" href="{% url 'dt' %}">
                  Know More
                </a>
              </button>
            </div>        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
        <div class="card custom-shadow">
          <img class="card-img-top" src="https://img.freepik.com/premium-photo/vintage-window-louver-with-wooden-slats-cottage-style-home_124507-144665.jpg?w=740" alt="Card image">
          <div class="card-body">
            <h5 class="card-title">Wood</h5>
        
            <p class="card-text">High quality brick. Quaranty up to 20 years. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div style="display: flex; justify-content: center;">
              <button id="about">
                <a style="border-radius: 1rem; background-color: black; color: rgb(15, 212, 163); padding: 0.5rem 1rem;" href="{% url 'dt' %}">
                  Know More
                </a>
              </button>
            </div>
        </div>
        </div>
      </div>
    </div>

</section>


<section class="container-fluid    project" id="contact">
    <div class="row mt-4">
    <h1>  <span style="color: rgb(15, 212, 163);font-size:150%;">|</span>Contact Us  </h1>
    </div>
  
    <div class="">
      <div class="row mt-4">
        <div class="col-sm-6">
          <!-- Contact Form -->
          <div style="border: 1px solid black;">
            <h2>Querry !</h2>
            <form class="p-3">
              
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Enter your name" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" placeholder="Enter your email" required>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" class="form-control" rows="5" placeholder="Enter your message" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary"style="background-color: black;color:rgb(15, 212, 163) ;">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-sm-6">
          <!-- Google Map -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62708.83233527579!2d76.61270726446155!3d10.788164376333174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba86dfa087d31ad%3A0xf542d6eb7a870a56!2sPalakkad%2C%20Kerala!5e0!3m2!1sen!2sin!4v1685956317252!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      </div>
      </div>
    </div>
    
  
    </section>
  
{% endblock %}